{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
  <div class="row align-items-start">
    <label for="exampleFormControlInput1" class="form-label">Add Extention To List</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Extention Type (.png)" aria-label="Extention Type (.png)" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
    </div>    
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Image Extention">
        <label class="form-check-label" for="inlineCheckbox1">Image Extention</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Video Extention">
        <label class="form-check-label" for="inlineCheckbox2">Video Extention</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Document Extention">
        <label class="form-check-label" for="inlineCheckbox2">Document Extention</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Audio Extention">
        <label class="form-check-label" for="inlineCheckbox2">Audio Extention</label>
      </div>
    </div>
    <div class="col">
      <b>Document File Extentions:</b>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
      </ul>
      
    </div>
    <div class="col">
      <b>Audio File Extentions:</b>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
      </ul>
    </div>
    <div class="col">
      <b>Video File Extentions:</b>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
      </ul>
    </div>
    <div class="col">
      <b>Image File Extentions:</b>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
        <li class="list-group-item">.docx</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}