{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
  <div class="row align-items-start">
    <form action="" method="POST">
      {% csrf_token %}
      <label for="exampleFormControlInput1" class="form-label">Add Extention To List</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Extention Type (.png)" aria-label="Extention Type (.png)"name="extention_field">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
      </div>    
      <div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Image Extention" name="is_image">
          <label class="form-check-label" for="inlineCheckbox1">Image Extention</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Video Extention" name="is_video">
          <label class="form-check-label" for="inlineCheckbox2">Video Extention</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Document Extention" name="is_document">
          <label class="form-check-label" for="inlineCheckbox2">Document Extention</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Audio Extention" name="is_audio">
          <label class="form-check-label" for="inlineCheckbox2">Audio Extention</label>
        </div>
      </div>
    </form>
    <div class="col">
      <b>Document File Extentions:</b>
      <ul class="list-group">
        {% for ext in DocumentExtentions %}
        <li class="list-group-item">{{ext}}</li>
        {% endfor %}
      </ul>
      
    </div>
    <div class="col">
      <b>Audio File Extentions:</b>
      <ul class="list-group">
        {% for ext in AudioExtentions %}
        <li class="list-group-item">{{ext}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <b>Video File Extentions:</b>
      <ul class="list-group">
        {% for ext in VideosExtentions %}
        <li class="list-group-item">{{ext}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <b>Image File Extentions:</b>
      <ul class="list-group">
        {% for ext in ImagesExtentions %}
        <li class="list-group-item">{{ext}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}